[submodule "projects/Unia-Danmuku"]
	path = projects/Unia-Danmuku
	url = https://github.com/Polaris-Leo/Unia-Danmuku.git
[submodule "projects/Unia-BiliBot"]
	path = projects/Unia-BiliBot
	url = https://github.com/Polaris-Leo/Unia-BiliBot.git
[submodule "projects/Unia-BiliCookie"]
	path = projects/Unia-BiliCookie
	url = https://github.com/Polaris-Leo/Unia-BiliCookie.git
[submodule "projects/Unia-Admin"]
	path = projects/Unia-Admin
	url = https://github.com/Polaris-Leo/Unia-Admin.git
[submodule "projects/Unia-Danmu"]
	path = projects/Unia-Danmu
	url = https://github.com/Polaris-Leo/Unia-Danmu.git
